<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div>
        <h1 id="confirm" class="confirm">
            Meal App Confirmation Page
        </h1>
    </div>
    <div>
        <h3> <%= message%> </h3>
    </div>
    <script src="/scripts/main.js"></script>
  </body>
</html>